.Game {
  position: relative;
  margin: auto;
  background: burlywood;
  width: 450px;
  height: 450px;
  box-shadow: 15px 15px 5px black;
}

.Line {
  display: inline-block;
  padding: 0;
  margin: 0;
}
